.offers {
    padding: 100px 0;

    &--text {
        margin-top: 16px;
        margin-bottom: 33px;
        width: 100%;
        max-width: 445px;
    }

    &__list {
        li {
            list-style: none;
        }

        &--item {
            text-decoration: none;

            &:hover {
                .offers__list--detail {
                    display: block;
                }
            }
        }

        &--cover {
            margin-bottom: 24px;
            width: 100%;
            height: 296px;
            border-radius: 16px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--title {
            color: #040921;
            font-size: 22px;
            line-height: 26px;
            font-weight: bold;
        }

        &--desc {
            display: block;
            margin-top: 8px;
            color: #040921;
            font-size: 14px;
            line-height: 17px;
        }

        &--detail {
            display: none;
        }
    }
}